# =========================
# API
# =========================
API_FOOTBALL_KEY=

# =========================
# Database
# =========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=football_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# =========================
# Logging
# =========================
LOG_LEVEL=INFO